appdirs==1.4.3
attrs==19.3.0
black==19.10b0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
distlib==0.3.0
entrypoints==0.3
filelock==3.0.12
flake8==3.7.9
funcsigs==1.0.2
idna==2.7
importlib-metadata==1.5.0
mccabe==0.6.1
mock==2.0.0
more-itertools==8.2.0
packaging==20.3
pathspec==0.7.0
pbr==1.10.0
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.6
pytest==5.3.5
regex==2020.2.20
requests==2.20.0
toml==0.10.0
tox==3.14.5
typed-ast==1.4.1
urllib3==1.24.3
virtualenv==20.0.8
wcwidth==0.1.8
zipp==3.1.0
