appdirs==1.4.3
attrs==19.3.0
black==19.10b0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
entrypoints==0.3
flake8==3.7.9
funcsigs==1.0.2
idna==2.7
mccabe==0.6.1
mock==2.0.0
pathspec==0.7.0
pbr==1.10.0
pycodestyle==2.5.0
pyflakes==2.1.1
regex==2020.2.20
requests==2.20.0
six==1.10.0
toml==0.10.0
typed-ast==1.4.1
urllib3==1.24.3
